<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <link href="https://static.toss.im/icons/png/4x/icon-toss-logo.png" rel="icon"/>
  <link href="/style.css" rel="stylesheet" type="text/css"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>토스페이먼츠 결제화면</title>
  <!-- SDK 추가 -->
  <script src="https://js.tosspayments.com/v2/standard"></script>
</head>

<body>
<!-- 주문서 영역 -->
<div class="wrapper">
  <div class="box_section" style="padding: 40px 30px 50px 30px; margin-top: 30px; margin-bottom: 50px">
    <!-- 결제 UI -->
    <div id="payment-method"></div>
    <!-- 이용약관 UI -->
    <div id="agreement"></div>
    <!-- 쿠폰 체크박스 -->
    <div style="padding-left: 30px">
      <div class="checkable typography--p">
        <label class="checkable__label typography--regular" for="coupon-box"
        ><input aria-checked="true" class="checkable__input" id="coupon-box" type="checkbox"/>
          <span class="checkable__label-text">[[${discountAmount}]]원 쿠폰 적용</span>
        </label>


      </div>
    </div>
    <!-- 결제하기 버튼 -->
    <button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>
  </div>
</div>
<script>
  main();

  async function main() {
    const button = document.getElementById("payment-button");
    const coupon = document.getElementById("coupon-box");

    /*<![CDATA[*/
    const orderId = "[[${orderId}]]"
    const orderName = "[[${orderName}]]"
    const targetAmount = "[[${amount}]]"
    const discountAmount = "[[${discountAmount}]]"
    /*]]>*/

    const amount = {
      currency: "KRW",
      value: parseInt(targetAmount),
    };

    const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    const customerKey = generateRandomString();
    const tossPayments = TossPayments(clientKey);
    const widgets = tossPayments.widgets({
      customerKey,
    });

    await widgets.setAmount(amount);

    await Promise.all([
      widgets.renderPaymentMethods({
        selector: "#payment-method",
        variantKey: "DEFAULT",
      }),
      widgets.renderAgreement({
        selector: "#agreement",
        variantKey: "AGREEMENT",
      }),
    ]);

    coupon.addEventListener("change", async function () {
      if (coupon.checked) {
        await widgets.setAmount({
          currency: "KRW",
          value: amount.value - discountAmount,
        });

        return;
      }

      await widgets.setAmount({
        currency: "KRW",
        value: amount.value,
      });
    });

    button.addEventListener("click", async function () {
      if (coupon.checked) {
        const response = await fetch("/applied/coupon/" + orderId, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
        });
      }

      await widgets.requestPayment({
        orderId: orderId,
        orderName: orderName,
        successUrl: window.location.origin + "/widget/success",
        failUrl: window.location.origin + "/fail",
        customerEmail: "customer123@gmail.com", // todo 회원 정보 처리
        customerName: "김토스",
        customerMobilePhone: "01012341234", // todo 회원 정보 처리
      });
    });
  }

  function generateRandomString() {
    return window.btoa(Math.random()).slice(0, 20);
  }
</script>
</body>
</html>
